<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style media="screen">
    #commentbody tr td {
      align = "center";
    }
  </style>

  <!-- <script type="text/javascript">
  // 이 위치에 있는 코드들을 boardApi.js 파일로 옮기세요.
    function refreshComment() {
      console.log("refreshComment func start...");

      // var commentData = getCommentList();

      // 테스트용 샘플...
      var commentData = {'contents': [
                                      {'comment': 'djflljaf;', 'writer': 'jin', 'date': '2017.06.01 12:34:56'},
                                      {'comment': '124578;', 'writer': 'keon', 'date': '2017.06.01 12:34:56'},
                                      {'comment': 'fdjaiu2398748j;', 'writer': 'su', 'date': '2017.06.01 12:34:56'}
                                    ]};
      // 테스트용 샘플...

      console.log(JSON.stringify(commentData));

      // DOM 조작은 정답은 없지만 이런 식으로 하시면 됩니다. 잘 하고 계시네요.
      // 여러 형태의 샘플을 찾아서 참고하시는 게 도움이 됩니다.
      var theTableBody = document.getElementById('commentbody');
      var data = commentData.contents;

      if(data.length>0) {
        for(var i in data) {
          var theTr = document.createElement('tr');
          var theTd1 = document.createElement('td');
          var theTd2 = document.createElement('td');
          var theTd3 = document.createElement('td');
          var theTd4 = document.createElement('td');
          var theText1 = document.createTextNode(i.toString());
          var theText2 = document.createTextNode(data[i].comment);
          var theText3 = document.createTextNode(data[i].writer);
          var theText4 = document.createTextNode(data[i].date);

          theTd1.appendChild(theText1);
          theTd2.appendChild(theText2);
          theTd3.appendChild(theText3);
          theTd4.appendChild(theText4);

          theTr.appendChild(theTd1);
          theTr.appendChild(theTd2);
          theTr.appendChild(theTd3);
          theTr.appendChild(theTd4);
          theTableBody.appendChild(theTr);
        }
      }
      else {
        var theTr = document.createElement('tr');
        var theTd = document.createElement('td');
        var theText = document.createTextNode('No data');

        theTd.appendChild(theText);
        theTr.appendChild(theTd);
        theTableBody.appendChild(theTr);
      }
    };

    $( document ).ready(function() {
      refreshComment();
    });

    // function commentSave(){
    //   var writer = document.getElementById('writer').value;
    //   var comment = document.getElementById('comment').value;
    //
    //   saveOneComment(writer, comment);
    // };-->

  </script>
  <title>Document</title>
</head>
<body>
  <div>
    <center>
      <div id="tablediv">
        <table border="1">
          <thead>
            <tr>
              <th width="50">No</th>
              <th width="300">Comment</th>
              <th width="100">Writer</th>
              <th width="100">Date</th>
            </tr>
          </thead>
          <tbody id="commentbody">

          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>
      <br><br>
      <div>
        <form class="" action="/boards/saveComment" method="post">
          Writer <input type="text" name="writer" id="writer">
          Comment <textarea name="comment" id="" rows="2" cols="50"></textarea>
          <input type="submit" width="100" height="100" value="Reigster">
        </form>
      </div>
    </center>
  </div>
  <script type="text/javascript" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/boardApi.js"></script>
</body>
</html>
