<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="assets/js/boardApi.js"></script>
  <script type="text/javascript" language="javascript">
    function testFunction(){
      boardApi.testFunction();
    }
  </script>
  <title>Document</title>
</head>
<body>
  <div>
    <h2>This is just test....</h2>
    <div>
      <input type="button" width=200 height=50 id="testbutton" onclick="testFunction()" value="boardApi_testFunction">
    </div>
  </div>
</body>
</html>
