<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./part/board_header %>

</head>
<body>

  <h2>JinKeonsu test board</h2>

  
  <footer>
    <% include ./part/board_footer %>
  </footer>
</body>
</html>
