<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Looks Liks An Apple Club</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/gaia.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <!--<link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/earlyaccess/notosanskr.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link href="/assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="/assets/css/modal.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <!-- <a href="http://www.creative-tim.com" class="navbar-brand">
                Gaia - Free Demo
            </a> -->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-uppercase">
                <li>
                    <!-- <a href="http://www.creative-tim.com/product/gaia-bootstrap-template-pro" target="_blank">회원가입</a> -->
                    <%
                        if ( session == ""){
                    %>
                        <a id="signUpBtn" style="cursor:pointer">회원가입</a>
                    <%}
                        else{

                    %>
                        <a id="userProfile" href="/users/userinfo" style="cursor:pointer"><%=session%></a>
                    <% }%>



                    <div id="signUpModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-dialog">
                            <div class="loginmodal-container">
                                <h1>Sign Up</h1><br>
                                <!--<span class="close">&times;</span>-->
                                <form action="/users/signUp" method="post">
                                    <input type="text" name="username" placeholder="ID">
                                    <input type="password" name="password" placeholder="Password">
                                    <input type="text" name="name" placeholder="name">
                                    <input type="submit" name="login" class="login loginmodal-submit" value="SIGNUP">
                        <!--<div class="modal-content">-->
                            <!--<span class="close">&times;</span>-->
                            <!--<form action="/users/signUp" method="post">-->
                                <!--<p>ID :-->
                                    <!--<input type="text" name="username">-->
                                    <!--<br/>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--Password:-->
                                    <!--<input type="password" name="password">-->
                                    <!--<br/>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--Name:-->
                                    <!--<input type="text" name="name">-->
                                    <!--<br/>-->

                                <!--</p>-->

                                <!--<input type="submit" value="SIGNUP">-->
                                </form>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <%
                    if ( session == ""){
                    %>
                    <a id="signInBtn" style="cursor:pointer">로그인</a>
                    <%}
                    else{

                    %>
                    <a id="logout" href="/users/logout" style="cursor:pointer">로그아웃</a>
                    <% }%>


                    <a id= "signupMessage"></a>


                    <div id="signInModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-dialog">
                            <div class="loginmodal-container">
                                <h1>Log In</h1><br>
                            <!--<span class="close">&times;</span>-->
                                <form action="/users/signIn" method="post">
                                    <input type="text" name="username" placeholder="Username">
                                    <input type="password" name="password" placeholder="Password">
                                    <input type="submit" name="login" class="login loginmodal-submit" value="LOGIN">
                                    <!--<p>ID           :-->
                                        <!--<input type="text" name="username">-->
                                        <!--<br/>-->
                                    <!--</p>-->
                                    <!--<p>-->
                                        <!--Password:-->
                                        <!--<input type="password" name="password">-->
                                        <!--<br/>-->
                                    <!--</p>-->

                                    <!--<input type="submit" value="LOGIN">-->
                                </form>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- /.navbar-collapse -->
    </div>
</nav>


<div class="section section-header">
    <div class="parallax filter filter-color-red">
        <div class="image"
             style="background-image: url('/assets/img/Apple-cover.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">

                    <p style="font-size: 50px;"> <%=inmessage%> </p>
                    <p style="font-size: 50px;"> <%=upmessage%></p>
                    <p style="font-size: 50px;"> <%=welcome%></p>
                    <p>한국인공지능협회</p>
                    <h1 class="title-modern">애플동호회인줄</h1>
                    <h3>The Singularity Is Near</h2>
                        <div class="separator line-separator">♦</div>
                </div>

                <!--<div class="button-get-started">
                    <a href="http://www.creative-tim.com/product/gaia-bootstrap-template" target="_blank" class="btn btn-white btn-fill btn-lg ">
                        Download Demo
                    </a>
                </div>-->
            </div>

        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>What we studied</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">우리는 다가오는 시대를 맞이하기 위한 전략으로 가장 유연하고 효율적인 도구인 웹 개발에 관련된 지식과 스킬을 습득했습니다.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon" onclick="window.open('https://ovver89.github.io/MyProject/front-end.html','_blank');">
                    <div class="icon text-danger">
                        <i class="pe-7s-display2"></i>
                    </div>
                    <h3>HTML/CSS</h3>
                    <p class="description">웹문서를 만들기 위하여 사용되는 기본적인 틀. 페이지의 정보 및 디자인을 결정</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon" onclick="window.open('https://ovver89.github.io/MyProject/back-end.html','_blank');">
                    <div class="icon text-danger">
                        <i class="pe-7s-browser"></i>
                    </div>
                    <h3>JavaScript</h3>
                    <p class="description">웹페이지를 동적, 프로그래밍적으로제어하기 위해 고안된 언어. 웹, 서버, DB 등 다양한 파트에서 사용 가능한 언어</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon" onclick="window.open('https://ovver89.github.io/MyProject/collaboration-tool.html','_blank');">
                    <div class="icon text-danger">
                        <i class="pe-7s-tools"></i>
                    </div>
                    <h3>ETC</h3>
                    <p class="description">웹서버(Node.js, express), DB(MongoDB), 개발관련툴(Slack, Trello) 등 간략한 소개</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-our-team-freebie">
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url('/assets/img/header-2.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Who We Are</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">함께 한 팀원들을 소개합니다. </p>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <!-- <div class="card card-member" onclick="location.href='http://splendid-polish.surge.sh/#/'"> -->
                                    <div class="card card-member" onclick="window.open('http://splendid-polish.surge.sh/#/','_blank');">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="/assets/img/faces/face_kwon.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">권인호</h3>
                                                <p class="small-text">개발자</p>
                                                <p class="description">Windows, 서버, 웹 개발 잡탕 트리를 타다가 현재는 머신러닝에서 미래 먹거리를 찾기 위해 방황하는 어린양. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member" onclick="window.open('http://keonsujin.surge.sh/','_blank');">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="/assets/img/faces/face_jin.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">진건수</h3>
                                                <p class="small-text">개발자</p>
                                                <p class="description">Windows 응용프로그램, iOS 어플 개발했음. AI 기반 응용 서비스 개발을 해보려고 하는 중. 나이 더 먹기 전에... 화이팅!!! </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member" onclick="window.open('http://chang.surge.sh/','_blank');">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="/assets/img/faces/changhyun.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">최창현</h3>
                                                <p class="small-text">개발자를 꿈꾸는 </p>
                                                <p class="description">이제 갓 시작하려고하는 개발자입니다. 부족하지만 열심히 하겠습니다 </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member" onclick="window.open('https://ovver89.github.io/MyProject/quiz.html','_blank');">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="/assets/img/faces/face_changju.jpeg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">김창주</h3>
                                                <p class="small-text">코딩하는 문돌이</p>
                                                <p class="description">갓 입문한 왕초보. 개발 구조와 흐름 파악하는게 목적. 시작은 미약하나 끝은 창대하리!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member" onclick="window.open('http://firstsilence.github.io/blog','_blank');">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="/assets/img/faces/face_jo.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">조광현</h3>
                                                <p class="small-text">개발입문자</p>
                                                <p class="description">뒤늦게 개발입문하여 걸음마중인 입문개발자. 느리지만 꾸준히 전진하는 중!!!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-our-clients-freebie">
    <div class="container">
        <div class="title-area">
            <h5 class="subtitle text-gray">Write something</h5>
            <h2>Board</h2>
            <div class="separator separator-danger">∎</div>
        </div>

            <div>
                <center>
                    <div id="tablediv">
                        <table border="1" class="table">
                            <thead class="thead-default">
                            <tr>
                                <th width="50">No</th>
                                <th width="300">Comment</th>
                                <th width="100">Writer</th>
                                <th width="100">Date</th>
                            </tr>
                            </thead>
                            <tbody id="commentbody">

                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                    <%
                        if ( session){
                    %>
                    <br><br>
                    <div>
                        <form class="" action="/boards/saveComment" method="post">
                            <!-- <div class="input-group" style="display: flex;">
                                <input type="text" name="writer" id="writer" placeholder="Writer">
                            </div> -->
                            <div class="input-group">
                                <textarea class="form-control custom-control" name="comment" id="comment" rows="3" style="resize:none" placeholder="Comment"></textarea>
                                <span class="input-group-addon btn btn-primary" id="submitMyForm" value="Reigster" onclick="commentSubmit()">Send</span>
                            </div>
                        </form>
                    </div>
                    <% }%>
                </center>
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-big footer-color-black" data-color="black">
        <!--<hr>-->
        <div class="copyright">
             © <script> document.write(new Date().getFullYear()) </script> Looks Like An Apple CLub, DevStudy - KOAIA
        </div>
</footer>

</body>

<!--   core js files    -->
<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/js/dtbundle.js"></script>
<script type="text/javascript" src="assets/js/boardApi.js"></script>

<!--  js library for devices recognition -->
<script type="text/javascript" src="/assets/js/modernizr.js"></script>

<!--  script for google maps   -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!--   file where we handle all the script from the Gaia - Bootstrap Template   -->
<script type="text/javascript" src="/assets/js/gaia.js"></script>

<script>
    var signInModal = document.getElementById('signInModal');
    var signUpModal = document.getElementById('signUpModal');
    // Get the button that opens the modal
    var signInBtn = document.getElementById("signInBtn");
    var signUpBtn = document.getElementById("signUpBtn");

    // Get the <span> element that closes the modal
//    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    signInBtn.onclick = function() {
        signInModal.style.display = "block";
    }
    signUpBtn.onclick = function() {
        signUpModal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
//    span.onclick = function() {
//        signInModal.style.display = "none";
//        signUpModal.style.display = "none";
//    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == signInModal) {
            signInModal.style.display = "none";

        }
        if (event.target == signUpModal) {
            signUpModal.style.display = "none";

        }
    }



</script>

</html>
